---
import { readAll } from "../lib/markdoc/read";
import { blog } from "../lib/markdoc/frontmatter.schema";
import PageLayout from "../layouts/PageLayout.astro";
import PageMeta from "../components/PageMeta.astro";
import Highlights from "../components/Highlights.astro";
import { SITE_TITLE } from "../config";

const posts = await readAll({
  directory: "articles",
  frontmatterSchema: blog,
});

const sortedPosts = posts
  .filter((p) => p.frontmatter.draft !== true)
  .sort(
    (a, b) =>
      new Date(b.frontmatter.date).valueOf() -
      new Date(a.frontmatter.date).valueOf()
  );
---
<head>
  <script>
    var count=0;
		document.addEventListener("DOMContentLoaded", function(){
    var replacers = document.querySelectorAll('[data-replace]');
    for(var i=0; i<replacers.length; i++){
        let replaceClasses = JSON.parse(replacers[i].dataset.replace.replace(/'/g, '"'));
        Object.keys(replaceClasses).forEach(function(key) {
            replacers[i].classList.remove(key);
            count+=25;
            replacers[i].classList.add("delay-["+count+"ms]");
            replacers[i].classList.add(replaceClasses[key]);
        });
    }
});
	</script>
</head>
<PageLayout>
  <PageMeta title={`Articles | ${SITE_TITLE}`} slot="meta" />

  <section slot="main" class="md:mx-[5rem] mx-auto">
  
    <h1 class=" max-w-[600px]:hidden text-3xl mb-2 text-center">ARTICLES</h1>
    <div class="w-full">
        <div class="pb-3 -mt-2 rounded-t-md border-x-[1px] mx-[-8px] mb-[-15px] border-t-[1px] dark:border-white border-black"></div>
    </div>
    
      {
        sortedPosts.map((post) => {
          const formattedDate = new Date(
            post.frontmatter.date
          ).toLocaleDateString("en-us", {
            year: "numeric",
            month: "short",
            day: "numeric",
          });
          return (
            <ul class="hover:scale-[101%] transition-transform duration-100 ease-in-out sm:text-base text-xs ">
          <li class="bg-[#EFEFEF] dark:bg-[#1E1E1E] px-[1rem] duration-300 scale-[100%] sm:py-1 rounded-md group grid grid-cols-[1fr] sm:grid-cols-[1fr_auto] mb-3 md:gap-2 items-start duration-opacity-1000 relative transform transition-opacity opacity-0 ease-in-out" data-replace='{ "opacity-0": "opacity-100" }'>
              
              <div class="title z-10">
                <a
                  href={`/articles/${post.slug}`}
                  class="unset hover:text-text-link flex"
                >
                  <span>{post.frontmatter.title}&nbsp;</span>
                  <span class="opacity-50">({post.frontmatter.language})</span>
                </a>
                
              </div>
              <div class="text-text-muted  text-xs sm:text-sm italic pt-1">
                <time datetime={post.frontmatter.date.toISOString()}>
                  {formattedDate}
                </time>
              </div>
            
            
            </li></ul>
          );
        })
      }
    
  </section>
</PageLayout>
