---
import { readAll } from "../lib/markdoc/read";
import { project } from "../lib/markdoc/frontmatter.schema";
import PageLayout from "../layouts/PageLayout.astro";
import PageMeta from "../components/PageMeta.astro";
import Highlights from "../components/Highlights.astro";
import { SITE_TITLE } from "../config";

const projects = await readAll({
  directory: "projects",
  frontmatterSchema: project,
});

const highlightedProjects = projects
.filter((p) => p.frontmatter.highlighted == true);

const sortedProjects = projects
  .filter((p) => p.frontmatter.draft !== true)
  .sort(
    (a, b) =>
      new Date(b.frontmatter.date).valueOf() -
      new Date(a.frontmatter.date).valueOf()
  );
---
<head>
  <script>
    var count=0;
		document.addEventListener("DOMContentLoaded", function(){
    var replacers = document.querySelectorAll('[data-replace]');
    for(var i=0; i<replacers.length; i++){
        let replaceClasses = JSON.parse(replacers[i].dataset.replace.replace(/'/g, '"'));
        Object.keys(replaceClasses).forEach(function(key) {
            replacers[i].classList.remove(key);
            count+=25;
            replacers[i].classList.add("delay-["+count+"ms]");
            replacers[i].classList.add(replaceClasses[key]);
        });
    }
});
	</script>
</head>
<PageLayout>
  <PageMeta title={`Projects | ${SITE_TITLE}`} slot="meta" />
  
  <section slot="main" class="md:mx-[5rem]">
  
    <strong><h1 class=" max-w-[600px]:hidden text-3xl mb-2 text-center">Highlighted Projects</h1></strong>
    <div class="grid grid-cols-2 lg:grid-cols-4 gap-4 justify-around mb-5 max-[340px]:hidden">
      <a href="/articles/pseudokude" class="col-span-1 group unset content-around hover:text-text pb-5 border-[1px] rounded-xl origin-center hover:scale-[105%] animate transition-transform duration-300 ease-in-out">
        <div class="m-2 mb-0 content-around justify-center text-center text-xs sm:text-sm">
    
          <h3 class="transition-all text-center duration-0 sm:text-md md:text-xl font-bold dark:text-gray-200 light:text-gray-900">Dynamic Sudoku Solver</h3>
          <div class="sm:text-sm font-medium contrast-150 mb-1 dark:contrast-100 brightness-75 dark:brightness-100 text-center">
            <span class="sm:text-sm inline-block text-orange-500 ">Rust</span><span class="sm:text-sm light:text-gray-800 dark:text-gray-400"> Sep 29th, 2024</span>
          </div>
          <div class="mx-auto rounded-xl max-w-[67%] overflow-x-hidden">
            <img class="object-contain w-[110%]" src="/images/rust-pseudokude/solving_gridonly.gif">
          </div>
          <div class="sm:text-sm translate-y-[10px] duration-0">
            A dynamic sudoku solver capable of solving puzzles of any size.
          </div>
        </div>
      </a>
    <a href="/articles/fls_test" class="col-span-1 group unset content-around hover:text-text pb-5 border-[1px] rounded-xl origin-center hover:scale-[105%] animate transition-transform duration-300 ease-in-out">
      <div class="m-2 mb-0 content-around justify-center text-center text-xs sm:text-sm">
  
        <h3 class="transition-all text-center duration-0 md:text-xl font-bold dark:text-gray-200 light:text-gray-900">The Fractional Line Symmetry Test</h3>
        <div class="sm:text-sm font-medium contrast-150 mb-1 dark:contrast-100 brightness-75 dark:brightness-100 text-center">
          <span class="sm:text-sm inline-block text-red-500 ">Research</span><span class="sm:text-sm light:text-gray-800 dark:text-gray-400"> Oct 24th, 2024</span>
        </div>
        <div class="mx-auto rounded-xl max-w-[75%] overflow-x-hidden">
          <img class="object-contain w-[110%]" src="/images/fls_test/just_fig6.png">
        </div>
        <div class="sm:text-sm translate-y-[10px] duration-0">
          An algorithmic test for determinging the quality of random numbers.
        </div>
      </div>
    </a>
  <a href="/articles/fast-random-pathfinder" class="col-span-1 group unset content-around hover:text-text pb-5 border-[1px] rounded-xl origin-center hover:scale-[105%] animate transition-transform duration-300 ease-in-out">
    <div class="m-2 mb-0 content-around justify-center text-center text-xs sm:text-sm">

      <h3 class="transition-all text-center duration-0 text-sm md:text-xl font-bold dark:text-gray-200 light:text-gray-900">Fast Random Pathfinder</h3>
      <div class="sm:text-sm font-medium contrast-150 mb-1 dark:contrast-100 brightness-75 dark:brightness-100 text-center">
        <span class="sm:text-sm inline-block text-main-c ">C++</span><span class="sm:text-sm light:text-gray-800 dark:text-gray-400"> Jul 29th, 2024</span>
      </div>
      <div class="mx-auto rounded-xl max-w-[75%] overflow-x-hidden">
        <img class="object-contain w-[110%]" src="/images/fast-random-pathfinder/fast-random-pathfinder.gif">
      </div>
      <div class="sm:text-sm translate-y-[10px] duration-0">
        An experimental pathfinder that makes use of random traversal and path optimization.
      </div>
    </div>
  </a>
  <a href="/articles/batch_raycaster" class="col-span-1 group unset content-around hover:text-text pb-5 border-[1px] rounded-xl origin-center hover:scale-[105%] animate transition-transform duration-300 ease-in-out">
    <div class="m-2 mb-0 content-around justify-center text-center text-xs sm:text-sm">

      <h3 class="transition-all text-center duration-0 text-sm md:text-xl font-bold dark:text-gray-200 light:text-gray-900">Integer-only Raycaster</h3>
      <div class="sm:text-sm font-medium contrast-150 mb-1 dark:contrast-100 brightness-75 dark:brightness-100 text-center">
        <span class="sm:text-sm inline-block text-green-500 ">Batch</span><span class="sm:text-sm light:text-gray-800 dark:text-gray-400"> May 26th, 2024</span>
      </div>
      <div class="mx-auto rounded-xl max-w-[75%] overflow-x-hidden">
        <img class="object-contain w-[110%]" src="/images/batch_raycaster/batch_raycaster_walking.gif">
      </div>
      <div class="sm:text-sm translate-y-[10px] duration-0">
        A Doom-style ascii raycaster made in Windows Batch.
      </div>
    </div>
  </a>
  </div>
  <h1 class=" max-w-[600px]:hidden text-3xl mb-2 text-center">All Projects</h1>
    <ul>
      {
        sortedProjects.map((project) => {
          const formattedDate = new Date(
            project.frontmatter.date
          ).toLocaleDateString("en-us", {
            year: "numeric",
            month: "short",
            day: "numeric",
          }
          
          );
          return (
            <li class="grid grid-cols-[1fr] md:grid-cols-[1fr_auto] mb-3 md:gap-2 items-start duration-1000 relative transform transition-all opacity-0 ease-out" data-replace='{ "opacity-0": "opacity-100" }'>
              <div class="title">
                <a
                  href={project.frontmatter.url}
                  target="_blank"
                  class="unset hover:text-text-link"
                >
                  <span>{project.frontmatter.title}</span>
                  <span class="opacity-50">({project.frontmatter.language})</span>
                  <span>
                    <i class="ml-1 mr-1 text-[12px] pb-2 fa-solid fa-up-right-from-square" />
                  </span>
                </a>
              </div>
              <div class="text-text-muted text-sm italic pt-1">
                <time datetime={project.frontmatter.date.toISOString()}>
                  {formattedDate}
                </time>
              </div>
            </li>
          );
        })
      }
    </ul>
  </section>
</PageLayout>
